@import "../../src/consts/consts.scss";

.Home {
  background-color: $background;
  color: $bodyColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $spacer * 4;
  width: 75%;
  margin: auto;

  .intro {
    display: flex;
    flex-direction: column;
    gap: $spacer * 2;
    max-width: 500px;
    max-height: 500px;
  }

  .profile-pic {
    margin: auto;
    height: 300px;
    border-radius: 25px;
  }
}
