@import "../../src/consts/consts.scss";

.header {
  align-items: center;
  background-color: $navbarHeader;
  color: $bodyColor;
  display: flex;
  height: 100%;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;

  .header__title {
    padding: 0px 2 * $spacer;
    font-size: 48px;
    margin: 0;
  }
}
