/* Sourced from https://github.com/harikanani/PortfolioV2*/


/* header */

.header {
	display: inline;
	/* max-width: 90%; */
	/* padding; */
	/* margin: -10px auto; */
}

.header ul {
	margin: auto;
	padding: 10px;
	list-style: none;
	overflow: hidden;
	float: left;
}

.header li {
	/* display:table-row; */
	margin: 0;
	padding: 10px;
	overflow: hidden;
	float: left;
}