@import "../../src/consts/consts.scss";

.header {
  align-items: center;
  background-color: $navbarHeader;
  color: $bodyColor;
  display: flex;
  height: 100%;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: $headerZIndex;

  * > a {
    text-decoration: none;
    border-radius: 4px;
    padding: 8px;
    color: $bodyColor;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-color: $bodyColor;
      background-color: #eeeeee;
      color: $bodyColor;
    }
  }

  .header__title {
    padding: 0px 2 * $spacer;
    font-size: 48px;
    margin: 0;
  }

  .header__links {
    display: flex;
    flex-direction: row;
    gap: $spacer;
    margin-left: auto;
    padding: 0px 2 * $spacer;
  }
}
