/* Sourced from https://github.com/harikanani/PortfolioV2*/

/* header */

.header {
  display: inline;
  /* max-width: 90%; */
  /* padding; */
  /* margin: -10px auto; */
  background-color: black;
}

.header a {
  text-decoration: none;
  /* max-width: 90%; */
  /* padding; */
  /* margin: -10px auto; */
}

.header ul {
  margin: 10px;
  padding: 10px;
  list-style: none;
  overflow: hidden;
  float: left;
}

.header li {
  /* display:table-row; */
  margin: 0;
  padding: 10px;
  overflow: hidden;
  /* float: left; */
}

.header .header-button {
  /* display:table-row; */
  border: 2px solid rgb(33, 33, 224);
  border-radius: 5px;
  padding: 7.5px;
  /* border-spacing: 20px; */
}

.header .header-button:hover {
  /* display:table-row; */
  background-color: rgb(33, 33, 224);
  color: white;
  /* border: 2px solid rgb(121, 74, 30); */
  border-radius: 5px;
  padding: 7.5px;
  /* border-spacing: 20px; */
}

.socials {
  margin-top: 20px;
  padding: 3px;
  color: black;
  float: right;
}
