$navbarHeader: white;
$background: white;

$lightBackground: white;
$darkBackground: black;

$lightHover: gray;
$darkHover: gray;

$lightBody: black;
$darkBody: white;
$lightLink: black;
$darkLink: white;

$spacer: 8px;

$headerZIndex: 10;
