@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 pt-20 font-sans antialiased bg-white text-black dark:bg-black dark:text-white;
    font-family: "Open Sans", sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  a {
    @apply text-black dark:text-white hover:text-gray-500 dark:hover:text-gray-400;
  }
}
